@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --very-dark-blue: #252b46;
    --grayish-blue: hsl(229, 8%, 60%);
}

html{
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

p{
    font-weight: 500;
    color: var(--grayish-blue) !important;
}

h1,h2,h3{
    font-weight: 500;
    color: var(--very-dark-blue);
}




.red-text-hover:hover{
    color: var(--soft-red);
}

button.grey-btn{
    background-color: #f7f7f7;
    color: var(--very-dark-blue);
    border: 2px solid transparent;
}
button.grey-btn:hover{
    background-color: #f7f7f7;
    color: var(--very-dark-blue);
    border: 2px solid var(--very-dark-blue);
}

button.blue-btn{
    background-color: var(--soft-blue);
    color: #fff;
    border: 2px solid transparent;
}


button.blue-btn:hover{
    background-color: #fff;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);;
}

button.red-btn:hover{
    background-color: #fff;
    color: var(--soft-red);
    border: 2px solid var(--soft-red);;
}

a:hover{
    color: var(--soft-red);
}

#hero{
    height: calc(100vh - 80px);
   
}

.animate{
    visibility: hidden;
}

.hero-bg{
    height: calc(100vh - 80px);
    background: url('/images/bg-hero.jpg') right/auto;
    visibility: visible !important;
    margin-top: -50%;
}

#hero > div.hero-content.px-8.md\:px-0.md\:text-left > div > a:nth-child(2) > button{
    background-color: rgb(247, 247, 247);
    color: var(--very-dark-blue);
}


#mobileMenu > div{
    justify-content: center;
    width: calc(100% - 80px);
}

#menuLogo.on-dark > g > path{
    fill: #fff;
}

#menuLogo.on-dark > g > g > path{
    fill: var(--very-dark-blue);
}

#menuLogo.on-dark:nth-child(1) circle{
    fill: #fff;
}



.tab{
    cursor: pointer;
}

.tab.active{
    border-bottom: 4px solid var(--soft-red);
}

.tab-container{
    display: none;
}

.tab-container.active{
    display: flex;
}

.accordion-header{
    cursor: pointer;
}

.download-card{
    text-align: center;
    overflow: hidden;
    max-width: 375px;
    min-width: 300px;
    position: relative;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
}

.download-card .card-content{
   margin:3.5rem 0 2rem 0;
   width: 100%;
   
}

.download-card .card-content img{
    margin: 0 auto;
    
 }

.download-card .button-wrapper{
    padding: 1.25rem 0;
    width: 100%;
   
    bottom: 0;
    border-top: dotted 3px var(--grayish-blue);
    
}

.download-card button{
    background-color: var(--soft-blue);
    color: white;
    padding: 1rem ;
    margin: 0 1.25rem;
    width: calc(100% - 2.5rem);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent
}


.accordion-content{
    display: none;
}

.accordion-content.active{
    display: block;
}

#emailErrorMessage{
    background-color: var(--soft-red);
    color: #fff;
}

@media screen and (max-width: 768px){
    html{
        font-size: 15px;
    }
}
    
